version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: final
    container_name: devops-app
    ports:
      - "5000:5000"
    networks:
      - front_net
      - back_net
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: devops-db
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
      POSTGRES_DB: devdb
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - back_net

networks:
  front_net:
  back_net:

volumes:
  db_data: