name: CD

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull latest image
        run: |
          docker pull ghcr.io/${{ github.repository_owner }}/devops-app:${{ github.sha }}

      - name: Update and restart stack
        run: |
          docker compose pull
          docker compose up -d